body{
width: 50%;
border: 3px solid rgb(43, 32, 22);
margin: 30px auto;
text-align: center;
padding: 15px;
font-family: Arial, Helvetica, sans-serif; 
}

#mainHeading{
margin: 10px 0px; 
color: rgb(41, 23, 11);
font-size: 36px;
width: 100%;
background-color: #eae8e4;
}

.headingLink{
color: rgb(41, 23, 11);
text-decoration: none;
}

.headingList{
display: inline; 
float: left;
width:48%;
}

.formTwo{
clear:both;
text-align: left;
padding-top: 20px;
margin:40px;
}

#todoForm{
    display: flex;
}

#userTodo{
    width:80%;
    border-radius: 5px;
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.formFields{
    padding: 5px;
    color:  rgb(236, 232, 226);
    font-weight: bolder;
    font-size:small;
}

#todoHeading{
color: rgb(41, 23, 11);
font-size: 24px;
}

#todoListDiv{
    background-color: #eae8e4;
    border-radius: 5px;
    padding: 5px;
}

li{
color: rgb(83, 77, 72);;
font-weight: bolder; 
text-align: left;
}

#addButton{
   border-radius: 5px;
   background-color:rgb(66, 165, 196);
   border-color: rgb(66, 165, 196);
   border-left: none;
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
}

#clearButtonDiv{
    margin:20px 0px;
    justify-content: center;
    display: flex;
}

#clear{
   background-color: rgb(187, 132, 29);
   color:  rgb(236, 232, 226);
   border: none;
   border-radius: 5px; 
}

.todoItem{
    list-style-type: none;
    padding: 10px;
    margin: 0px 40px 0px 0px;  
    border-bottom: 1px solid rgb(97, 100, 101);
}

@media only screen and (max-width: 600px) {
  body{
    width:90%;
    border:none;
  }
  }
  