body{
border: 3px solid rgb(43, 32, 22);
margin: 30px 600px;
text-align: center;
padding: 15px;
font-family: Arial, Helvetica, sans-serif; 
}

#main-heading{
margin: 10px 0px; 
color: rgb(41, 23, 11);
font-size: 36px;
width: 100%;
background-color: #eae8e4;
}

.heading-link{
color: rgb(41, 23, 11);
text-decoration: none;
}

.heading-list{
display: inline; 
float: left;
width:48%;
}

.form-two{
clear:both;
text-align: left;
padding-top: 20px;
margin:40px;
}

#todo-header{
color: rgb(41, 23, 11);
font-size: 24px;
}

li{
color: rgb(83, 77, 72);;
font-weight: bolder; 
text-align: left;
}

#todo-form{
    display: flex;
}

#user-todo{
 width:80%;
 border-radius: 5px;
 border-right: none;
 border-top-right-radius: 0px;
 border-bottom-right-radius: 0px;
}

#addButton{
   border-radius: 5px;
   background-color:rgb(66, 165, 196);
   border-color: rgb(66, 165, 196);
   border-left: none;
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
}

.form-fields{
    padding: 5px;
    color:  rgb(236, 232, 226);
    font-weight: bolder;
    font-size:small;
}

#clear{
   background-color: rgb(187, 132, 29);
   color:  rgb(236, 232, 226);
   border: none;
   border-radius: 5px; 
}

#button-clear-div{
    margin:20px 0px;
    justify-content: center;
    display: flex;
}

#todo-list-div{
    background-color: #eae8e4;
    border-radius: 5px;
    padding: 5px;
}

.todo-item{
    list-style-type: none;
    padding: 10px;
    margin: 0px 40px 0px 0px;  
    border-bottom: 1px solid rgb(97, 100, 101);
}